@media (max-width: 46.1875em) {
    .btn:hover {
        background-color: #fff;
        -webkit-tap-highlight-color: transparent;
    }
    .footer-social__link {
        -webkit-tap-highlight-color: transparent;
    }
}