:root {
    --primary-color: #ec1f55;
    --text-color: #333;
    --white-color: #fff;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
  
body {
    background-color: #f5f5f5;
}
  
html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
  
.player .icon-pause {
    display: none;
}
  
.player.playing .icon-pause {
    display: inline-block;
}
  
.player.playing .icon-play {
    display: none;
}
  
.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    z-index: 1;
}

.header-player__music {
    /* background-color: #d3d3d3; */
}
  
/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}
  
header h4 {
    color: var(--primary-color);
    font-size: 12px;
}
  
header h2 {
    color: var(--text-color);
    font-size: 20px;
}
  
/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}
  
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}
  
/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}
  
.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}
.btn {
    --size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 100px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-user-select: auto;
}
  
.control .btn.active {
    color: var(--primary-color);
}
  
.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.btn.btn-toggle-play:hover {
    background-color: #f3dde3;
    color: var(--primary-color);
}

  
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
  
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}
  
/* PLAYLIST */
.playlist {
    background-color: #f6e9ec;
    padding: 412px 12px 6px;
    width: 480px;
}
  
.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.song.active {
    background-color: var(--primary-color);
}
  
.song:active {
    opacity: 0.8;
}
  
.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}
  
.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}
  
.song .body {
    flex: 1;
    padding: 0 16px;
}
  
.song .title {
    font-size: 18px;
    color: var(--text-color);
}
  
.song .author {
    font-size: 12px;
    color: #999;
}
  
.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

.option__menu {
    position: absolute;
    list-style: none;
    right: 30px;
    top: 460px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f599b2;
    color: var(--white-color);
    border-radius: 4px;
    min-width: 130px;
    display: none;
}

.option:hover .option__menu {
    display: block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    overflow: hidden;
}
.option__item {
    font-size: 1.4rem;
}

.option__item:hover {
    background-color: #efa8bb;
}

/* Footer */
.footer-item {
    height: 125px;
    width: 480px;
    background-color: #f599b2;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    padding-top: 28px;
    letter-spacing: 2px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social__link {
    text-decoration: none;
    color: var(--white-color);
    padding: 16px 32px;
    font-size: 1.4rem;
}
